@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-white: #ffffff;
  --color-black: #1A1A1A;
  --color-light-grey: #F4F4F4;
  --color-dark-grey: #C8C8C8;
  --color-border-grey: #E5E5E5;
  --color-mid-grey: #8C8C8C;
  --color-medium-grey: #979797;
  /* font-sizes */
  --font-product-16:16px;
  --line-height-product-16:26px;

  --font-top-nav-12: 12px;
  --line-height-top-nav-12: 100%;

  --font-menu-nav-14: 14px;
  --line-height-menu-nav-14: 24px;

  --font-banner-title-50: 50px;
  --line-height-banner-title-50: 62px;

  --font-banner-text-18: 18px;
  --line-height-banner-text-18: 28px;

  --font-banner-link-18: 18px;
  --line-height-banner-link-18: 28px;

  --font-text-18: 18px;
  --line-height-text-18: 28px;

  --font-section-title-32: 32px;
  --line-height-section-title-32: 44px;


  --font-slider-card-title-20: 20px;
  --line-height-slider-card-title-20: 30px;

  --font-footer-title-20: 20px;
  --line-height-footer-title-20: 32px;

  --font-footer-link-14: 14px;
  --line-height-footer-link-14: 28px;

  --font-footer-copyright-14: 14px;
  --line-height-footer-copyright-14: 28px;


}

.font-product-16{
  font-size: var(--font-product-16);
  line-height: var(--line-height-product-16);
}
.text-mid-grey{
  color:var(--color-medium-grey);
}
.bg-mid-grey{
  background-color:var(--color-medium-grey);
}
.border-mid-grey{
  border-color:var(--color-medium-grey);
}
.text-medium-grey{
  color:var(--color-medium-grey);
}
.bg-medium-grey{
  background-color:var(--color-medium-grey);
}
.border-medium-grey{
  border-color:var(--color-medium-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-white: #ffffff;
    --color-black: #1A1A1A;
    --color-light-grey: #F4F4F4;
    --color-dark-grey: #C8C8C8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 1023px) {
  :root {
    /* font-sizes */
    --font-top-nav-12: 12px;
    --line-height-top-nav-12: 100%;

    --font-menu-nav-14: 14px;
    --line-height-menu-nav-14: 24px;

    --font-banner-title-50: 40px;
    --line-height-banner-title-50: 52px;

    --font-banner-text-18: 16px;
    --line-height-banner-text-18: 26px;

    --font-banner-link-18: 16px;
    --line-height-banner-link-18: 26px;

    --font-text-18: 18px;
    --line-height-text-18: 28px;

    --font-section-title-32: 28px;
    --line-height-section-title-32: 40px;

    --font-slider-card-title-20: 18px;
    --line-height-slider-card-title-20: 28px;

    --font-footer-title-20: 16px;
    --line-height-footer-title-20: 26px;

    --font-footer-link-14: 14px;
    --line-height-footer-link-14: 28px;

    --font-footer-copyright-14: 14px;
    --line-height-footer-copyright-14: 24px;

  }
}

@media (max-width: 639px) {
  :root {
    /* font-sizes */
    --font-top-nav-12: 10px;
    --line-height-top-nav-12: 100%;

    --font-menu-nav-14: 14px;
    --line-height-menu-nav-14: 24px;

    --font-banner-title-50: 24px;
    --line-height-banner-title-50: 36px;

    --font-banner-text-18: 14px;
    --line-height-banner-text-18: 24px;

    --font-banner-link-18: 14px;
    --line-height-banner-link-18: 24px;

    --font-text-18: 14px;
    --line-height-text-18: 24px;


    --font-section-title-32: 20px;
    --line-height-section-title-32: 32px;


    --font-slider-card-title-20: 14px;
    --line-height-slider-card-title-20: 24px;

    --font-footer-title-20: 16px;
    --line-height-footer-title-20: 26px;

    --font-footer-link-14: 12px;
    --line-height-footer-link-14: 22px;

    --font-footer-copyright-14: 12px;
    --line-height-footer-copyright-14: 22px;

  }
}

/* Font Classes */
.font-top-nav-12 {
  font-size: var(--font-top-nav-12);
  line-height: var(--line-height-top-nav-12);
}

.font-menu-nav-14 {
  font-size: var(--font-menu-nav-14);
  line-height: var(--line-height-menu-nav-14);
}

.font-banner-title-50 {
  font-size: var(--font-banner-title-50);
  line-height: var(--line-height-banner-title-50);
}

.font-banner-text-18 {
  font-size: var(--font-banner-text-18);
  line-height: var(--line-height-banner-text-18);
}

.font-banner-link-18 {
  font-size: var(--font-banner-link-18);
  line-height: var(--line-height-banner-link-18);
}

.font-text-18 {
  font-size: var(--font-text-18);
  line-height: var(--line-height-text-18);
}

.font-section-title-32 {
  font-size: var(--font-section-title-32);
  line-height: var(--line-height-section-title-32);
}

.font-slider-card-title-20 {
  font-size: var(--font-slider-card-title-20);
  line-height: var(--line-height-slider-card-title-20);
}

.font-footer-title-20 {
  font-size: var(--font-footer-title-20);
  line-height: var(--line-height-footer-title-20);
}

.font-footer-link-14 {
  font-size: var(--font-footer-link-14);
  line-height: var(--line-height-footer-link-14);
}

.font-footer-copyright-14 {
  font-size: var(--font-footer-copyright-14);
  line-height: var(--line-height-footer-copyright-14);
}

.video-gradient-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-gradient-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.48%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
  pointer-events: none;
  /* Allows clicks to pass through to the video if needed */
}

.video-gradient-wrapper video {
  position: relative;
  z-index: 0;
}